{
    "alert_pipe" : "TEMPLATE_ALERT_PIPE_PATH",
    "bouncers" : [
        {
            "bouncer_addr" : "127.0.0.1",
            "bouncer_port" : 3001,
            "fcgi_workers" : [
                "127.0.0.1:9000",
                "127.0.0.1:9001",
                "127.0.0.1:9002",
                "127.0.0.1:9003",
                "127.0.0.1:9004",
                "127.0.0.1:9005",
                "127.0.0.1:9006",
                "127.0.0.1:9007",
                "127.0.0.1:9008",
                "127.0.0.1:9009"
                ]
        }
    ]
}

